<div class="status-row list-group-item list-view-pf-stacked list-view-pf-top-align">
  <div class="list-group-item-header">
    <div class="list-view-pf-expand">
      <span class="fa fa-angle-right"></span>
    </div>
    <%=
      render :partial => 'status_row_actions', locals: {
        id: id,
        supports_remediate: supports_remediate,
        host_association: host_association,
        owned_only: owned_only
      }
    %>
    <div class="list-view-pf-main-info">
      <div class="list-view-pf-left">
        <span class="pficon list-view-pf-icon-md <%= classes_for_vmware_status_row(counter) %>"></span>
      </div>
      <div class="list-view-pf-body">
        <div class="list-view-pf-description">
          <div class="list-group-item-heading">
            <%= _(name) %>
          </div>
          <div class="list-group-item-text">
            <%= _(description) %>
          </div>
        </div>
        <div class="list-view-pf-additional-info">
          <div class="list-view-pf-additional-info-item">
            <%= icon_text('ok', '', :kind => 'pficon') %>
            <strong><%= counter[:ok] %></strong>
            <%= _('OK') %>
          </div>
          <div class="list-view-pf-additional-info-item">
            <%= icon_text('warning-triangle-o', '', :kind => 'pficon') %>
            <strong><%= counter[:warning] %></strong>
            <%= _('Warning') %>
          </div>
          <div class="list-view-pf-additional-info-item">
            <%= icon_text('error-circle-o', '', :kind => 'pficon') %>
            <strong><%= counter[:critical] %></strong>
            <%= _('Critical') %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="list-group-item-container container-fluid hidden">
    <div class="close">
      <span class="pficon pficon-close"></span>
    </div>
    <div class="row">
      <div class="col-md-12 status-hosts-container">
        <% if counter[:warning] > 0 || counter[:critical] > 0 %>
          <p><%= _('The following host require manual attention:') %></p>
          <%=
            render :partial => 'status_row_hosts_table', locals: {
              status: status,
              supports_remediate: supports_remediate
            }
          %>
        <% else %>
          <p><%= _('No manual actions required.') %></p>
        <% end %>
      </div>
    </div>
  </div>
</div>
