<% title _('Remediate') %>
<% javascript 'foreman_tasks/trigger_form' %>
<% stylesheet 'foreman_tasks/trigger_form' %>

<% if @statuses.any? %>
  <% if @statuses.group_by(&:class).map { |i| i.first}.select { |i| i.try(:dangerous_remediate?) }.any? %>
    <%= alert(:text => _('This will cause a service interruption.'), :class => 'alert-warning', :close => false) %>
  <% end %>

  <%= n_('One host selected for remediation.', '%s hosts selected for remediation.', @statuses.count) % @statuses.count %>

  <ul class='hosts-list' style='max-height: 100px; overflow-y: scroll;'>
    <% @statuses.each do |status| %>
      <li>
        <%= status.host.name %>
        <%= content_tag(:span, nil, class: 'glyphicon glyphicon-warning-sign text-warning', title: _('This will cause a service interruption.')) if status.class.try(:dangerous_remediate?) %>
      </li>
    <% end %>
  </ul>

  <%= form_for @triggering, html: { class: 'form-horizontal', id: 'schedule_remediate_form' },
                            url: submit_remediate_hosts_path(host_association: @statuses_params[:host_association],
                                                             owned_only: @statuses_params[:owned_only],
                                                             status_ids: @statuses_params[:status_ids]) do |f| %>
    <%= javascript_tag do %>
      $(function() { trigger_form_selector_binds('<%= f.options[:html][:id] %>','<%= f.object_name %>') });
    <% end %>
    <div class="form-group">
      <label class="col-md-2 control-label"><%= _('Schedule') %></label>
      <div class="col-md-8">
        <%= fields_for :triggering, @triggering do |trigger_fields| %>
          <%= radio_button_f trigger_fields, :mode, :class => 'trigger_mode_selector', :value => 'immediate', :text => _('Execute now') %>
          <%= radio_button_f trigger_fields, :mode, :class => 'trigger_mode_selector', :value => 'future',    :text => _('Schedule future execution') %>
      </div>
    </div>

    <div class="trigger_fields">
      <%= content_tag(:fieldset, nil, id: 'trigger_mode_future', class: "trigger_mode_form #{'hidden' unless @triggering.future?}") do
        safe_join([
          text_f(f, :start_at_raw, label: _('Start at'), placeholder: 'YYYY-mm-dd HH:MM'),
          text_f(f, :start_before_raw, label: _('Start before'), placeholder: 'YYYY-mm-dd HH:MM',
                                       label_help: _('Indicates that the action should be cancelled if it cannot be started before this time.'))
        ])
      end %>
    </div>
    <% end %>

    <%= submit_or_cancel f, false, :cancel_path => { controller: :'foreman_wreckingball/hosts', action: :status_dashboard } %>
  <% end %>
<% else %>
  <%= content_tag :h3, _('No hosts selected') %>
  <%= content_tag :p, _('Please select some hosts and try again') %>
<% end %>
