<% title _('VMware Managed Hosts Overview') %>
<% javascript 'foreman_wreckingball/status_managed_hosts_dashboard' %>
<% stylesheet 'foreman_wreckingball/status_managed_hosts_dashboard' %>

<%= title_actions(
  button_group(
    if params[:owned_only]
      link_to _('Show all hosts'), status_managed_hosts_dashboard_hosts_path, class: 'btn btn-default'
    else
      link_to _('Show only owned hosts'), status_managed_hosts_dashboard_hosts_path(owned_only: true), class: 'btn btn-default'
    end
  )
) %>

<%= render partial: 'status_managed_hosts_dashboard_cards', locals: {
  missing_hosts_count: @missing_hosts.count,
  duplicate_vms_count: @duplicate_vms.map(&:second).flatten.count,
  different_hosts_count: @different_hosts.count
} %>

<ul class='nav nav-tabs' data-tabs='tabs'>
  <li class='active'>
    <%= content_tag :a, _('List of Hosts not found in vSphere'), href: '#missing_vms_tab', 'data-toggle': 'tab' %>
  </li>
  <li>
    <%= content_tag :a, _('List of VMs with same uuid'), href: '#duplicate_vms_tab', 'data-toggle': 'tab' %>
  </li>
  <li>
    <%= content_tag :a, _('List of VMs associated with different Compute Resources'), href: '#different_vms_tab', 'data-toggle': 'tab' %>
  </li>
</ul>

<div class='tab-content'>
  <div class='tab-pane active' id='missing_vms_tab'>
    <% if @missing_hosts.empty? %>
      <%= content_tag :p, _('No hosts to show'), class: 'ca' %>
    <% else %>
      <%= content_tag :table, id: 'missing_vms', class: table_css_classes do %>
        <thead>
          <tr>
            <%= content_tag :th, _('Name') %>
          </tr>
        </thead>
        <tbody>
          <% @missing_hosts.each do |host| %>
            <tr>
              <%= content_tag :td, link_to_if_authorized(host.name, hash_for_host_path(id: host)) %>
            </tr>
          <% end %>
        </tbody>
      <% end %>
    <% end %>
  </div>
  <div class='tab-pane' id='duplicate_vms_tab'>
    <% if @duplicate_vms.empty? %>
      <%= content_tag :p, _('No hosts to show'), class: 'ca' %>
    <% else %>
      <%= content_tag :table, id: 'duplicate_vms', class: table_css_classes do %>
        <thead>
          <tr>
            <%= content_tag :th, _('UUID') %>
            <%= content_tag :th, _('Name') %>
          </tr>
        </thead>
        <tbody>
          <% @duplicate_vms.each do |_uuid, hosts| %>
            <% hosts.each do |host| %>
              <tr>
                <%= content_tag :td, host.uuid %>
                <%= content_tag :td, link_to_if_authorized(host.name, hash_for_host_path(id: host)) %>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      <% end %>
    <% end %>
  </div>
  <div class='tab-pane' id='different_vms_tab'>
    <% if @different_hosts.empty? %>
      <%= content_tag :p, _('No hosts to show'), class: 'ca' %>
    <% else %>
      <%= content_tag :table, id: 'different_vms', class: table_css_classes do %>
        <thead>
          <tr>
            <%= content_tag :th, _('UUID') %>
            <%= content_tag :th, _('Name') %>
          </tr>
        </thead>
        <tbody>
          <% @different_hosts.each do |host| %>
            <tr>
              <%= content_tag :td, host.uuid %>
              <%= content_tag :td, link_to_if_authorized(host.name, hash_for_host_path(id: host)) %>
            </tr>
          <% end %>
        </tbody>
      <% end %>
    <% end %>
  </div>
</div>
