<% title _('VMware Managed Hosts Overview') %>
<% javascript 'foreman_wreckingball/status_managed_hosts_dashboard' %>
<% stylesheet 'foreman_wreckingball/status_managed_hosts_dashboard' %>

<%= title_actions(
  button_group(
    if params[:owned_only]
      link_to _('Show all hosts'), status_managed_hosts_dashboard_hosts_path, class: 'btn btn-default'
    else
      link_to _('Show only owned hosts'), status_managed_hosts_dashboard_hosts_path(owned_only: true), class: 'btn btn-default'
    end
  )
) %>

<%= render partial: 'status_managed_hosts_dashboard_cards', locals: {
  missing_hosts_count: @missing_hosts.count,
  wrong_hosts_count: @wrong_hosts.count,
  more_than_one_hosts_count: @more_than_one_hosts.count
} %>

<ul class='nav nav-tabs' data-tabs='tabs'>
  <li class='active'>
    <%= content_tag :a, _('List of Hosts not found in vSphere'), href: '#missing_vms_tab', 'data-toggle': 'tab' %>
  </li>
  <li>
    <%= content_tag :a, _('List of Hosts associated to wrong Compute Resource'), href: '#wrong_hosts_tab', 'data-toggle': 'tab' %>
  </li>
  <li>
    <%= content_tag :a, _('List of Hosts found on more than one Compute Resource'), href: '#more_than_one_hosts_tab', 'data-toggle': 'tab' %>
  </li>
</ul>

<div class='tab-content'>
  <div class='tab-pane active' id='missing_vms_tab'>
    <% if @missing_hosts.empty? %>
      <%= content_tag :p, _('No Hosts to show'), class: 'ca' %>
    <% else %>
      <%= content_tag :table, id: 'missing_vms', class: table_css_classes do %>
        <thead>
          <tr>
            <%= content_tag :th, _('Name') %>
            <%= content_tag :th, nil, class: 'no-sort' %>
          </tr>
        </thead>
        <tbody>
          <% @missing_hosts.each do |host| %>
            <tr>
              <%= content_tag :td, link_to_if_authorized(host.name, hash_for_host_path(id: host).merge(permission: 'view_hosts', auth_object: host, authorizer: @host_authorizer)) %>
              <td>
                <%= action_buttons(display_delete_if_authorized(hash_for_host_path(id: host).merge(permission: 'destroy_hosts', auth_object: host, authorizer: @host_authorizer),
                                                                :data => { :confirm => _('Are you sure you want to delete host %s? This action is irreversible.') % host.name })) %>
              </td>
            </tr>
          <% end %>
        </tbody>
      <% end %>
    <% end %>
  </div>
  <div class='tab-pane' id='wrong_hosts_tab'>
    <% if @wrong_hosts.empty? %>
      <%= content_tag :p, _('No Hosts to show'), class: 'ca' %>
    <% else %>
      <%= content_tag :table, id: 'wrong_hosts', class: table_css_classes do %>
        <thead>
          <tr>
            <%= content_tag :th, _('Name') %>
            <%= content_tag :th, _('Associated to') %>
            <%= content_tag :th, _('Found on') %>
            <%= content_tag :th, nil, class: 'no-sort' %>
          </tr>
        </thead>
        <tbody>
          <% @wrong_hosts.each do |host| %>
            <tr>
              <%= content_tag :td, link_to_if_authorized(host.name, hash_for_host_path(id: host).merge(permission: 'view_hosts', auth_object: host, authorizer: @host_authorizer)) %>
              <%= content_tag :td, link_to_if_authorized(host.compute_resource.name, hash_for_compute_resource_path(id: host.compute_resource).merge(permission: 'view_compute_resources', auth_object: host.compute_resource, authorizer: @compute_resource_authorizer)) %>
              <%= content_tag :td, link_to_if_authorized(@vm_compute_resource_mapping[host.uuid].first.name, hash_for_compute_resource_path(id: @vm_compute_resource_mapping[host.uuid].first).merge(permission: 'view_compute_resources', auth_object: @vm_compute_resource_mapping[host.uuid].first, authorizer: @compute_resource_authorizer)) %>
              <td>
                <%= action_buttons(
                  display_link_if_authorized(
                    _('Fix Association'),
                    hash_for_associate_compute_resource_vm_path(
                      compute_resource_id: @vm_compute_resource_mapping[host.uuid].first,
                      id: host.uuid
                    ).merge(
                      auth_object: @vm_compute_resource_mapping[host.uuid].first,
                      authorizer: @compute_resource_authorizer,
                      permission: 'edit_compute_resources'
                    ),
                    title: _('Associate Host to correct Compute Resouce'),
                    method: :put
                  )
                ) %>
              </td>
            </tr>
          <% end %>
        </tbody>
      <% end %>
    <% end %>
  </div>
  <div class='tab-pane' id='more_than_one_hosts_tab'>
    <% if @more_than_one_hosts.empty? %>
      <%= content_tag :p, _('No Hosts to show'), class: 'ca' %>
    <% else %>
      <%= content_tag :table, id: 'more_than_one_hosts', class: table_css_classes do %>
        <thead>
          <tr>
            <%= content_tag :th, _('Name') %>
            <%= content_tag :th, _('Associated to') %>
            <%= content_tag :th, _('Found on') %>
          </tr>
        </thead>
        <tbody>
          <% @more_than_one_hosts.each do |host| %>
            <tr>
              <%= content_tag :td, link_to_if_authorized(host.name, hash_for_host_path(id: host).merge(permission: 'view_hosts', auth_object: host, authorizer: authorizer)) %>
              <%= content_tag :td, (link_to_if_authorized(host.compute_resource.name, hash_for_compute_resource_path(id: host.compute_resource).merge(permission: 'view_compute_resources', auth_object: host.compute_resource, authorizer: @compute_resource_authorizer)) if host.compute_resource) %>
              <td>
                <%= safe_join(@vm_compute_resource_mapping[host.uuid].map { |compute_resource| link_to_if_authorized(compute_resource.name, hash_for_compute_resource_path(id: compute_resource).merge(permission: 'view_compute_resources', auth_object: compute_resource, authorizer: @compute_resource_authorizer))}, ', ') %>
              </td>
            </tr>
          <% end %>
        </tbody>
      <% end %>
    <% end %>
  </div>
</div>
