<% title _('VMware Managed Hosts Overview') %>
<% javascript 'foreman_wreckingball/modal' %>
<% javascript 'foreman_wreckingball/status_hosts_table' %>
<% stylesheet 'foreman_wreckingball/status_hosts_table' %>

<%= title_actions(
  button_group(
    if params[:owned_only]
      link_to _('Show all hosts'), status_managed_hosts_dashboard_hosts_path, class: 'btn btn-default'
    else
      link_to _('Show only owned hosts'), status_managed_hosts_dashboard_hosts_path(owned_only: true), class: 'btn btn-default'
    end
  )
) %>

<% if @missing_hosts.any? %>
  <div id="missing_vms">
    <h2>List of hosts missing not found in vSphere</h2>
    <div class="list-group list-view-pf list-view-pf-equalized-column" style="max-height: initial;">
    <% @missing_hosts.each do |host| %>
      <div><%= host.name %></div>
    <% end %>
    </div>
  </div>
<% end %>

<% if @duplicate_vms.any? %>
  <div id="duplicate_vms">
    <h2>List of VMs with same uuid</h2>
    <div class="list-group list-view-pf list-view-pf-equalized-column" style="max-height: initial;">
    <% @duplicate_vms.each do |uuid, hosts| %>
      <% hosts.each do |host| %>
        <div><%= host.uuid %> - <%= host.name %></div>
      <% end %>
    <% end %>
    </div>
  </div>
<% end %>

<% if @different_hosts.any? %>
  <div id="different_vms">
    <h2>List of VMs associated with different compute resources</h2>
    <div class="list-group list-view-pf list-view-pf-equalized-column" style="max-height: initial;">
    <% @different_hosts.each do |host| %>
      <div><%= host.uuid %> - <%= host.name %></div>
    <% end %>
    </div>
  </div>
<% end %>
